*{
    margin: 0;
    padding: 0;
}

nav{
    height: 50%;
    position: fixed;
    background-color: transparent;
}
#nav-top{
    background: #000;
    display: flex;
    width: 100%;
    height: 15%;
}

#nav-top ul{
    margin: auto;
}

#nav-top ul li{
    display: inline;
    padding: 1rem;
}

#nav-top ul li a{
    text-decoration: none;
    align-content: center;
}

.nav-logo{
    width: 100px;
    color: red;
    background-color: white;
    width: 20px;
}